.first_about_container {
    background-image: linear-gradient(150deg, #cda582, #fff 26%);
    display: flex;
    justify-content: center;
    padding: 6rem 6rem 3rem 6rem;
}

.title_about_container {
    text-align: center;
    color: #cda582;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'arboria';
}

.title_about_container h1 {
    font-weight: 500;
}

.title_about_container p {
    margin-top: 3rem;
    font-weight: 300;
}

.second_about_container {
    display: flex;
    justify-content: center;
}

.title_second_container {
    color: #cda582;
    font-size: 1.5rem;
    font-family: 'arboria';
    text-align: center;
    line-height: 3.6rem;
}

.title_second_container h1 {
    font-weight: 500;
}

.unit_one {
    display: flex;
    align-items: center;
    color: #cda582;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: 'arboria';
    padding: 6rem;
    gap: 6rem;
}

.unit_one p {
    margin-top: 1.6rem;
}

.unit_textblock h1 {
    font-weight: 500;
}

.unit_textblock p {
    font-weight: 300;
}

.hour_phone h1 {
    font-weight: 700;
}

.icon_phone {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    margin-top: 1rem;
}

.phone i {
    font-size: 1.8rem;
    margin-right: 0.6rem;
    margin-top: 0.6rem;
}

.icon_wpp {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.wpp i {
    font-family: "Font Awesome 5 Brands";
    font-size: 2.6rem;
    margin-right: 0.6rem;
    margin-top: 0.6rem;
}

.icon_clock {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}

.icon_clock i {
    font-size: 1.8rem;
    margin-right: 0.6rem;
    margin-top: 0.5rem;
}

.logocontainer img {
    position: relative;
    bottom: 1.2rem;
}

.container_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem 0;
    background-image: linear-gradient(to top, #cda582, #fff 26%);
}

.slider {
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img {
    width: 1000px;
}

.manual_navigation {
    position: absolute;
    width: 1000px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #cda582;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #cda582;
}

#radio1:checked~.first {
    margin-left: 50%;
}

#radio2:checked~.first {
    margin-left: 0;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -100%;
}

#radio5:checked~.first {
    margin-left: -150%;
}

#radio6:checked~.first {
    margin-left: -200%;
}

.navigation_auto {
    position: absolute;
    width: 1000px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.navigation_auto div {
    border: 2px solid #cda582;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation_auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation_auto .auto_btn1 {
    background-color: #cda582;
}

#radio2:checked~.navigation_auto .auto_btn2 {
    background-color: #cda582;
}

#radio3:checked~.navigation_auto .auto_btn3 {
    background-color: #cda582;
}

#radio4:checked~.navigation_auto .auto_btn4 {
    background-color: #cda582;
}

#radio5:checked~.navigation_auto .auto_btn5 {
    background-color: #cda582;
}

#radio6:checked~.navigation_auto .auto_btn6 {
    background-color: #cda582;
}

.container_slider .logocontainer {
    position: relative;
    top: 3rem;
}

.container_slider .logocontainer img {
    width: 160px;
}

.container_slidertwo .logocontainer {
    position: relative;
    top: 3rem;
}

.container_slidertwo .logocontainer img {
    width: 150px;
    color: #cda582;
}

.container_slidertwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 0rem 0;
}

.slidertwo {
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

.slidestwo {
    width: 400%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.slidestwo input {
    display: none;
}

.slidetwo {
    width: 25%;
    position: relative;
    transition: 1s;
}

.slidetwo img {
    width: 1000px;
}

.manual_navigationtwo {
    position: absolute;
    width: 1000px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.manual-btntwo {
    border: 2px solid #cda582;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.manual-btntwo:not(:last-child) {
    margin-right: 40px;
}

.manual-btntwo:hover {
    background-color: #cda582;
}

#radio7:checked~.first {
    margin-left: 50%;
}

#radio8:checked~.first {
    margin-left: 0;
}

#radio9:checked~.first {
    margin-left: -50%;
}

#radio10:checked~.first {
    margin-left: -100%;
}

#radio11:checked~.first {
    margin-left: -150%;
}

#radio12:checked~.first {
    margin-left: -200%;
}

.navigation_autotwo {
    position: absolute;
    width: 1000px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.navigation_autotwo div {
    border: 2px solid #cda582;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation_autotwo div:not(:last-child) {
    margin-right: 40px;
}

#radio7:checked~.navigation_autotwo .auto_btn7 {
    background-color: #cda582;
}

#radio8:checked~.navigation_autotwo .auto_btn8 {
    background-color: #cda582;
}

#radio9:checked~.navigation_autotwo .auto_btn9 {
    background-color: #cda582;
}

#radio10:checked~.navigation_autotwo .auto_btn10 {
    background-color: #cda582;
}

#radio11:checked~.navigation_autotwo .auto_btn11 {
    background-color: #cda582;
}

#radio12:checked~.navigation_autotwo .auto_btn12 {
    background-color: #cda582;
}

@media (max-width: 1440px) {
    .map iframe {
        width: 32rem;
        height: 26rem;
    }
}

@media (max-width: 1376px) {
    .unit_one {
        padding: 6rem 3rem 0rem 4rem;
        gap: 2rem;
    }

    .map iframe {
        width: 30rem;
        height: 24rem;
    }
}

@media (max-width: 1240px) {
    .unit_one {
        padding: 6rem 3rem 0rem 4rem;
        gap: 2rem;
    }

    .map iframe {
        width: 28rem;
        height: 22rem;
    }
}

@media (max-width: 1024px) {
    .title_about_container {
        font-size: 1.3rem;
    }

    .title_second_container {
        font-size: 1.3rem;
    }

    .unit_one {
        padding: 6rem 1rem 0rem 2rem;
        gap: 2rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 768px) {
    .title_about_container {
        font-size: 140%;
    }

    .title_second_container {
        font-size: 140%;
    }

    .unit_one {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .unit_textblock {
        font-size: 90%;
        text-align: center;

    }

    .icon_phone {
        justify-content: center;
    }

    .icon_clock {
        justify-content: center;
    }

    .unit_textblock p {
        width: 100%;
    }

    .map iframe {
        width: 500px;
        height: 400px;
    }

    .slider {
        width: 600px;
        height: 360px;
    }

    .slide img {
        width: 600px;
    }

    .manual_navigation {
        position: absolute;
        width: 600px;
        display: flex;
        justify-content: center;
    }

    .navigation_auto {
        position: absolute;
        width: 600px;
        display: flex;
        justify-content: center;
    }

    .slides {
        width: 400%;
        height: 170px;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 428px) {
    .first_about_container {
        padding: 5rem 1rem 5rem 1rem;
    }

    .title_about_container {
        font-size: 1.2rem;
    }

    .title_second_container {
        font-size: 1.2rem;
        line-height: 3rem;
    }

    .unit_one {
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem 0rem 1rem;
        gap: 4rem;
    }

    .unit_textblock {
        font-size: 90%;
        text-align: center;
    }

    .unit_textblock h1 {
        line-height: 2.6rem;
    }

    .icon_phone {
        justify-content: center;
    }

    .icon_clock {
        justify-content: center;
    }

    .icon_wpp {
        justify-content: center;
    }

    .unit_textblock p {
        width: 100%;
    }

    .map iframe {
        width: 380px;
        height: 280px;
    }

    .slider {
        width: 380px;
        height: 260px;
    }

    .slide img {
        width: 380px;
    }

    .manual_navigation {
        position: absolute;
        width: 380px;
        display: flex;
        justify-content: center;
    }

    .navigation_auto {
        position: absolute;
        width: 380px;
        display: flex;
        justify-content: center;
    }

    .slides {
        width: 400%;
        height: 80px;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 375px) {
    .hour_phone {
        font-size: 1rem;
    }

    .map {
        margin-top: 2rem;
    }

    .map iframe {
        width: 21rem;
    }

    .slider {
        width: 350px;
        height: 260px;
    }

    .slide img {
        width: 350px;
    }

    .manual_navigation {
        width: 350px;
    }

    .navigation_auto {
        width: 350px;
    }

    .slides {
        height: 60px;
    }
}