.blogtitlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(150deg,#e4c653 ,#fff  36%);
    padding: 8rem;
}

.blogtitlecontainer h1 {
    color: #e4c653;
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    max-width: 60rem;

}

.blogtitlecontainer p {
    color: #e4c653;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    margin-top: 1rem;

}