.title_container_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(150deg,#cda582 ,#fff  36%);
    padding: 6rem 9rem 6rem 9rem;
}

.title_container_services {
    color: #cda582;
    font-size: 1.5rem;
    font-family: 'arboria';
}

.title_container_services h1 {
    text-align: center;
    font-weight: 500;
}

.title_container_services p {
    margin-top: 2rem;
    text-align: center;
    font-weight: 300;
}

.second_container_services {
    padding: 6rem 8rem 2rem 8rem;
}

.listservices_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.item_listservices {
    background-image: linear-gradient(330deg,#cda582 -3.21%,#fff  26%);
    color: #cda582;
    font-family: 'arboria';
    border-radius: 1rem;
    padding: 1.6rem;
    max-width: 230px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.item_listservices h1 {
    font-weight: 500;
}

.item_listservices img {
    max-width: 110px;
    margin-top: 1rem;
    
}

.benefitspackservices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.benefitspackservices .benefits_pack {
    font-family: 'arboria';
    color: #cda582;
    position: relative;
    background-image: linear-gradient(330deg,#cda582 -3.21%,#fff  26%);
    padding: 1rem 3rem 2rem 3rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.benefitspackservices .benefits_pack h1 {
    font-weight: 500;
}

.benefitspackservices .benefits_pack input {
    display: none;
}

.benefitspackservices .benefits_pack label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.benefitspackservices .benefits_pack label::after {
    content: '+';
    position: relative;
    left: 1rem;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.benefitspackservices .benefits_pack:hover label::after {
    color: #cda582;
}

.benefitspackservices .benefits_pack input:checked ~ label::after {
    transform: rotate(135deg);
    color: #cda582;
}

.benefitspackservices .benefits_pack label div img {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-right: 25px;
    padding: 0.6rem;
    background-image: linear-gradient(330deg,#cda582 -3.21%,#fff  26%);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.benefitspackservices .benefits_pack input:checked ~ label div img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 59%;
    height: 59%;
    opacity: 0.18;
    justify-content: flex-end;
    background: none;
    border: none;
    
}

.benefitspackservices .benefits_pack input:checked ~ label div {
    background-image: linear-gradient(30deg,#cda582 -3.21%,#fff  26%);
}

.benefitspackservices .benefits_pack label h1 {
    position: relative;
    color: #cda582;
    z-index: 10;
}

.benefitspackservices .benefits_pack .signature_pack {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.benefitspackservices .benefits_pack input:checked ~ .signature_pack {
    max-height: 100vh;
    
}

.benefitspackservices .benefits_pack .signature_pack h3 {
    position: relative;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0.6rem 0;
    color: #cda582;
    z-index: 10;
}

.benefitspackservices .benefits_pack:first-child .signature_pack h3 {
    line-height: 1rem;
}

.buttonscheduling {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0 0 0;
}

.buttonscheduling button {
    background: linear-gradient(349.78deg, #bb8f72 -17.21%, #cda582 116.61%);
    color: #fff;
    width: 260px;
    height: 60px;
    border: none;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 300;
} 

@media (max-width: 1240px) {
    .title_container_services {
        font-size: 1.3rem;
    } 

    .benefitspackservices .benefits_pack {
        font-size: 0.9rem;
    }
}

@media (max-width: 428px) {
    .title_container_services {
        padding: 6rem 0rem 3rem 0rem;   
        font-size: 1.2rem;
    }

    .title_container_services h1{
        padding: 0rem 1rem 0rem 1rem;
    }

    .title_container_services p {
        line-height: 2rem;
        padding: 1rem 1rem 0rem 1rem;
    }

    .benefitspackservices {
        padding: 0rem,
    }
    
    .benefits_pack {
        font-size: 75%;
        text-align: center;
    }

    .benefitspackservices .benefits_pack {
        padding: 0.2rem 2rem 1rem 2rem;
    }
    
    .benefitspackservices .benefits_pack input:checked~label h1 {
        position: relative;
        left: 0.8rem;
    }

    .benefitspackservices .benefits_pack {
        font-size: 70%;
    }

    .benefitspackservices .benefits_pack .signature_pack h3 {
        font-size: 1.05rem;
    }

    .benefitspackservices .benefits_pack label div img {
        width: 80px;
        height: 35px;
    }

    .benefitspackservices .benefits_pack:first-child .signature_pack h3 {
        font-size: 1.05rem;
        line-height: 0.3rem;
    }

    .benefitspackservices .benefits_pack .signature_pack h3 {
        font-size: 1.05rem;
        line-height: 1.3rem;
    }

    .second_container_services {
        padding: 6rem 2rem 2rem 2rem;
    }

}

@media (max-width: 375px) {
    .benefits_pack {
        margin-top: 2rem;
    }

    .item_listservices {
        margin-top: 1.6rem;
    }
}