.first_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(359.78deg, #fff, rgba(255, 255, 255, 0.376) 256.61%), url('../../assets/img/slideimgtwo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first_text_block {
    color: #d19e78;
    font-family: 'arboria';
    display: flex;
    align-items: center;
    padding: 9rem 3rem 0rem 3rem;
    overflow: hidden;
}

.paragraph_text_block {
    margin-left: 6rem;
}

.first_text_block h1 {
    font-size: 4.3rem;
    font-weight: 900;
    line-height: 4.3rem;
}

.first_text_block p {
    font-weight: 400;
    font-size: 1.4rem;
    text-align: end;
}

.first_text_block:nth-child(1) p {
    margin-top: 1rem;
}

.first_text_block h2 {
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 4.3rem;
    text-align: end;
    margin-top: 1rem;
}

.home_block_links {
    display: flex;
    margin-top: 2rem;
    align-self: start;
    margin-left: 3rem;
}

.home_first_btn:first-child button {
    background: none;
    color: #d19e78;
    width: 11rem;
    height: 3.4rem;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 400;
    margin-right: 1rem;
    border: 1px solid #d19e78;
}

.home_first_btn button {
    background: linear-gradient(349.78deg, #fff -17.21%, #e7e3dd 116.61%);
    color: #d19e78;
    width: 18rem;
    height: 3.4rem;
    border: 1px solid #fff;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 400;
    box-shadow: 1px 1px 3px #c9c5bd, -12px -12px 24px #ffffff;
}

.home_second_btn button {
    background: linear-gradient(349.78deg, #fff 17.21%, #ede8de 116.61%);
    color: #d19e78;
    border: 1px solid #fff;
    width: 11rem;
    height: 3.4rem;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 400;
    box-shadow: 1px 1px 3px #c9c5bd, -12px -12px 24px #ffffff;
}

.home_second_btn button:hover {
    background: linear-gradient(-149.78deg, #fff 17.21%, #ede8de 116.61%);
    transition: all 0.2s ease-in-out;
}

.home_first_btn button:hover {
    background: linear-gradient(-149.78deg, #fff, rgba(146, 146, 146, 0.301) 276.61%);
    transition: all 0.2s ease-in-out;
}

.second_container {
    display: flex;
    align-items: center;
    padding: 2rem 0rem 0rem 0rem;
}

.second_container i {
    font-size: 3rem;
    color: #d19e78;
    margin-top: 2rem;
    margin-right: 2rem;
}

.second_home_block {
    padding: 0rem 3rem 0rem 3rem;
}

.second_home_block .home_first_btn {
    margin-top: 2rem;
}

.second_text_block {
    color: #d19e78;
    font-family: 'arboria';
}

.second_text_block h1 {
    line-height: 3rem;
    font-weight: 700;
    font-size: 2.8rem;
}

.word {
    text-transform: uppercase;
    font-weight: 900;
}

.second_text_block p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.second_container_img {
    display: flex;
    justify-content: center;
    border-right: double 1px transparent;
    border-top: double 1px transparent;
    border-radius: 0rem 36rem 0rem 0rem;
    background-image: linear-gradient(349.78deg, #ede8de -17.21%, #fff 116.61%), linear-gradient(-198deg, #fff, #d19e78 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
}

.second_container_img img {
    max-width: 25rem;
    position: relative;
    left: 2rem;
}

.third_container {
    background-image: linear-gradient(358deg, #fff 20%, #ede8de 80%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title_third_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_third_container img {
    max-width: 17rem;
    margin-top: 0rem;
    border: 0.16rem solid rgba(255, 255, 255, 0.2);
    padding: 1.1rem 2.6rem;
    border-radius: 0rem 0rem 3rem 3rem;
    border-top: none;
    background: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.acessibility_container {
    font-size: 1.2rem;
    font-family: 'arboria';
    color: #d19e78;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.acessibility_container img {
    max-width: 4rem;
    margin-top: 1rem;
}

.title_container {
    color: #d19e78;
    font-size: 1.5rem;
    font-family: 'arboria';
    padding: 2rem 2rem 3rem 2rem;
    text-align: center;
}

.title_container h1 {
    font-weight: 700;
    line-height: 2.6rem;
}

.list_box {
    display: flex;
    justify-content: center;
    margin-bottom: 0.6rem;
}

.list_box_one {
    display: flex;
}

.item_list {
    color: #d19e78;
    font-family: 'arboria';
    text-align: center;
    background: linear-gradient(349.78deg, -17.21%, #d19e78 33.61%);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 18rem;
    border: 0.16rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 3px #c9c5bd, -3px -3px 6px #ffffff;
    margin-left: 1rem;
    margin-right: 0.6rem;
}

.item_list p {
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.item_list h2 {
    font-size: 4rem;
    color: #d19e78;
    opacity: 0.8;
}

.item_list h3 {
    color: #d19e78;
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
    font-weight: 900;
}

.fourth_container {
    background-image: linear-gradient(180deg, #fff 20%, #ede8de 70%);
}

.container_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0rem 3rem 2rem 3rem;
}

.item_box {
    max-width: 380px;
    max-height: 440px;
    margin-top: 1.6rem;
}

.item_box img {
    object-fit: cover;
}

.buttoninvisible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttoninvisible button {
    background: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    color: #d19e78;
    border: 1px solid #fff;
    width: 11rem;
    height: 3.4rem;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 400;
    box-shadow: 1px 1px 3px #c9c5bd, -1px -1px 2px #ffffff;
}

.buttoninvisible button:hover {
    background: linear-gradient(-149.78deg, #fff 17.21%, #e0e0e0 116.61%);
    transition: all 0.2s ease-in-out;
}

.logos_container {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem 0rem 0rem;
}

.logos_container img {
    max-width: 16rem;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    border-radius: 0rem 0rem 3rem 3rem;
}

.fifth_container {
    background-image: linear-gradient(360deg, #fff 30%, #ede8de 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 3rem;
}

.container_imgft {
    display: flex;
    align-self: flex-end;
}

.fifth_block {
    display: flex;
}

.fifth_text_block {
    font-size: 1.4rem;
    color: #d19e78;
    font-family: 'arboria';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.fifth_text_block:nth-child(3) {
    text-align: end;
    text-transform: uppercase;
}

.container_imgft img {
    max-width: 32rem;
}

.title_fifth_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d19e78;
    font-size: 1.5rem;
    font-family: 'arboria';
    margin-top: 3rem;
    text-align: center;
    font-weight: 700;
    padding: 0rem 12rem 0rem 12rem;
}

.title_fifth_container img {
    max-width: 13rem;
    margin-top: 2.3rem;
}


.fifth_container button {
    background: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    color: #d19e78;
    border: 1px solid #fff;
    width: 11rem;
    height: 3.4rem;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 3rem;
    font-weight: 400;
    box-shadow: 1px 1px 3px #c9c5bd, -1px -1px 2px #ffffff;
}

.fifth_container button:hover {
    background: linear-gradient(-149.78deg, #fff 17.21%, #ede8de 116.61%);
    transition: all 0.2s ease-in-out;
}

.sixth_text {
    color: #cda582;
    font-size: 1.5rem;
    font-family: 'arboria';
    text-align: center;
    padding: 3rem 10rem 3rem 10rem;
    overflow: hidden;
}

.sixth_text h1 {
    font-weight: 700;
}

.home_signature_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    background-image: linear-gradient(-347deg, #fff 70%, #ede8de);
}

.signature_content_container {
    text-align: center;
    color: #d19e78;
    font-size: 1.5rem;
    font-family: 'arboria';
    margin-top: 2rem;
    padding: 0rem 8rem 0rem 8rem;
}

.signature_content_container h1 {
    font-weight: 700;
    line-height: 2.9rem;
}

.container_benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_benefits .benefits_content {
    font-family: 'arboria';
    position: relative;
    background-image: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    padding: 0rem 1.6rem 1.2rem 1.6rem;
    box-shadow: 1px 1px 3px #c9c5bd, -1px -1px 2px #ffffff;
    border-radius: 1rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.container_benefits .benefits_content:nth-child(2) {
    margin-top: 2rem;
}

.container_benefits .benefits_content input {
    appearance: none;
}

.container_benefits .benefits_content label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container_benefits .benefits_content label::after {
    content: '+';
    position: relative;
    left: 0.7rem;
    bottom: 0.4rem;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.container_benefits .benefits_content:hover label::after {
    color: #d19e78;
}

.container_benefits .benefits_content input:checked~label::after {
    transform: rotate(135deg);
    color: #fff;
    top:0.4rem;
    left: 1rem;
}

.container_benefits .benefits_content label div img {
    width: 7rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 0.6rem;
    background-image: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.container_benefits .benefits_content input:checked~label div img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 12rem;
    opacity: 0.14;
    justify-content: flex-end;
    background: none;
    border: none;

}

.container_benefits .benefits_content label h1 {
    position: relative;
    color: #d19e78;
    z-index: 10;
    bottom: 0.1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.container_benefits .benefits_content .signature_content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.container_benefits .benefits_content input:checked~.signature_content {
    max-height: 100vh;
}

.container_benefits .benefits_content .signature_content h3 {
    position: relative;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.4rem 0;
    color: #d19e78;
    z-index: 10;
}

.container_benefits .benefits_content:first-child .signature_content h3 {
    line-height: 1rem;
}

.slidercontainer {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem 1rem 0rem 1rem;
    margin: 0 auto;
}

.swiper_container {
    height: 33rem;
}

.swiper-slide {
    width: 27rem !important;
    height: 29rem !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide h1 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'arboria';
    color: #d19e78;
    background-image: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    ;
    position: absolute;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    border-radius: 2rem 0rem 1rem 0rem;
}

.swiper-slide img {
    width: 27rem !important;
    height: 29rem !important;
    object-fit: cover;
    border-radius: 2rem;

}

.slider-controler .swiper-button-prev {
    color: #fff;
    top:45%;
}

.slider-controler .swiper-button-next {
    color: #fff;
    top:45%;
}

@media (max-width: 1024px) {
    .swiper_container {
        height: 33rem;
    }

    .swiper-slide {
        width: 26rem !important;
        height: 27rem !important;
    }

    .swiper-slide img {
        width: 26rem !important;
        height: 27rem !important;
    }
}

@media (max-width: 768px) {
    .swiper_container {
        height: 30rem;
    }

    .swiper-slide {
        width: 25rem !important;
        height: 26rem !important;
    }

    .swiper-slide img {
        width: 25rem !important;
        height: 26rem !important;
    }
}

@media (max-width: 500px) {
    .swiper_container {
        height: 25rem;
    }

    .swiper-slide {
        width: 18rem !important;
        height: 22rem !important;
    }

    .swiper-slide img {
        width: 18rem !important;
        height: 22rem !important;
    }

}

.buttonservice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
}

.buttonservice button {
    background-image: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    color: #d19e78;
    width: 13rem;
    height: 3.4rem;
    border: 1px solid #fff;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 400;
    box-shadow: 1px 1px 3px #c9c5bd, -1px -1px 2px #ffffff;
}

.buttonservice button:hover {
    background: linear-gradient(-149.78deg, #fff 17.21%, #ede8de 116.61%);
    transition: all 0.2s ease-in-out;
}

.footer {
    background-image: linear-gradient(to top, #ede8de, #fff 75%);
    padding: 3rem 0 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer img {
    width: 10rem;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(349.78deg, #fff -17.21%, #ede8de 116.61%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 1.6rem;
    width: 5rem;
    height: 5rem;
    box-shadow: 1px 1px 3px #c9c5bd, -1px -1px 2px #ffffff;
    cursor: pointer;
}

.footer_icon i {
    font-size: 3.4rem;
    color: #d19e78;
}

.auth_prod {
    font-family: 'arboria';
    color: #d19e78;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.auth_prod h1 {
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    bottom: 0.5rem;
}

.auth_prod img {
    width: 3.2rem;
    margin-left: 0.3rem;
}

@media (max-width: 1440px) and (min-width: 1376px) {
    .second_container_img img {
        max-width: 28rem;
    }

    .container_imgft img {
        max-width: 34rem;
    }
}

@media (max-width: 1290px) and (min-width: 1025px) {
    .paragraph_text_block {
        margin-left: 3rem;
    }

    .first_text_block h2 {
        font-size: 2rem;
        line-height: 2.6rem;
        margin-top: 1rem;
    }

    .item_box {
        max-width: 320px;
        max-height: 380px;
    }

}

@media (max-width: 1024px) and (min-width: 768px) {
    .first_text_block {
        flex-direction: column;  
        align-items: start;
    }

    .first_text_block h1 {
        font-size: 3.4rem;
        line-height: 3.4rem;
    }

    .first_text_block p {
        text-align: start;
        font-size: 1.3rem;
    }

    .paragraph_text_block {
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .paragraph_text_block h2 {
        text-align: start;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .home_block_links {
        margin-top: 2rem;
        align-self: start;
        margin-left: 3rem;
    }

    .second_home_block {
        padding: 0rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .second_text_block {
        text-align: end;
        font-size: 1.2rem;
    }

    .second_text_block h1 {
        font-size: 2.3rem;
        line-height: 2.8rem;
    }

    .second_text_block p {
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .second_container_img img {
        max-width: 23rem;
        left: 1rem;
    }

    .second_container i {
        margin-top: 1rem;
    }

    .second_home_block .home_first_btn {
        margin-top: 1rem;
    }

    .list_box {
        flex-direction: column;
    }

    .list_box_one:nth-child(2) {
        margin-top: 2rem;
    }

    .container_box {
        flex-direction: column;
        align-items: center;
    }

    .item_box {
        margin-top: 2rem;
    }
    
    .fifth_container {
        padding: 0 2rem;
    }

    .title_fifth_container {
        padding: 0rem 1rem 0rem 1rem;
    }

    .fifth_block {
        flex-direction: column;
        margin-top: 1rem;
    }

    .fifth_text_block:nth-child(3) {
        margin-top: 0.5rem;
    }

    .container_imgft {
        align-self: center;
        margin-top: 2rem;
    }

    .fifth_container button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .signature_content_container {
        padding: 0rem 2rem 0rem 2rem;
    }

    .sixth_text {
        padding: 3rem 2rem 3rem 2rem;
    }

}

@media (max-width: 767px) and (min-width: 590px) {
    .first_text_block {
        flex-direction: column;
        align-items: start;
        padding: 9rem 2rem 0rem 2rem;
    }

    .first_text_block h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .first_text_block p {
        text-align: start;
        font-size: 1.2rem;
    }

    .paragraph_text_block h2 {
        font-size: 1.3rem;
        text-align: start;
        margin-top: 1rem;
    }

    .paragraph_text_block {
        margin-left: 0rem;
    }

    .home_block_links {
        margin-top: 1rem;
        align-self: center;
        margin-left: 0rem;
    }

    .second_container {
       flex-direction: column-reverse;
    }

    .second_home_block {
        padding: 0rem 2rem 0rem 2rem;
    }
    
    .second_text_block h1 {
        font-size: 2.6rem;
    }

    .second_text_block p {
        font-size: 1.3rem;
    }

    .second_container_img {
        background: none;
        box-shadow: none;
    }
    
    .list_box {
        flex-direction: column;
    }

    .list_box_one:nth-child(2) {
        margin-top: 2rem;
    }

    .title_fifth_container {
        padding: 0rem 1rem 0rem 1rem;
    }

    .fifth_block {
        flex-direction: column;
        margin-top: 1rem;
        text-align: start;
    }

    .fifth_text_block:nth-child(3) {
        text-align: start;
        margin-top: 0.5rem;
    }

    .container_imgft {
        margin-top: 1rem;
    }

    .fifth_container button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .signature_content_container h1 {
        padding: 0 2rem;
    }

    .signature_content_container {
        padding: 0rem 2rem 0rem 2rem;
    }

    .sixth_text {
        padding: 3rem 2rem 3rem 2rem;
    }

}

@media (max-width: 589px) and (min-width: 429px) {
    .first_text_block {
        flex-direction: column;
        align-items: start;
        padding: 9rem 1rem 0rem 1rem;
    }

    .first_text_block h1 {
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

    .first_text_block p {
        text-align: start;
        font-size: 1.2rem;
    }

    .paragraph_text_block p:nth-child(2) {
        display: none;
    }

    .paragraph_text_block h2 {
        font-size: 1.3rem;
        text-align: start;
        margin-top: 1rem;
        line-height: 2rem;
    }

    .paragraph_text_block {
        margin-left: 0rem;
    }

    .home_block_links {
        margin-top: 2rem;
        align-self: center;
        margin-left: 0rem;
    }

    .second_container {
       flex-direction: column-reverse;
       align-items: start;
    }

    .second_home_block {
        padding: 1rem 1rem 0rem 1rem;
    }

    .second_text_block h1 {
        line-height: 3rem;
        font-size: 2.6rem;
    }

    .second_text_block p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .second_container_img img {
        max-width: 23rem;
    }

    .second_container i {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .list_box {
        flex-direction: column;
    }

    .list_box_one {
        display: flex;
        flex-direction: column;
    }

    .item_list {
        margin-bottom: 1.6rem;
    }

    .container_box {
        padding: 0rem 0rem 2rem 0rem;
    }

    .title_fifth_container {
        font-size: 1.4rem;
        text-align: start;
        padding: 0rem 1rem 0rem 1rem;
    }

    .fifth_container {
        padding: 0 1rem;
    }

    .container_imgft img {
        max-width: 24rem;
    }

    .fifth_block {
        flex-direction: column;
        margin-top: 1rem;
        text-align: start;
    }

    .fifth_text_block {
        font-size: 1.3rem;
    }

    .fifth_text_block:nth-child(3) {
        text-align: start;
        margin-top: 0.5rem;
    }

    .fifth_container button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .signature_content_container {
        text-align: start;
        font-size: 1.4rem;
        margin-top: 1rem;
        padding: 0rem 2rem 0rem 2rem;
    }  

    .container_benefits {
        padding: 0rem 1rem;
    }

    .sixth_text {
        font-size: 1.4rem;
        text-align: start;
        padding: 3rem 2rem 3rem 2rem;
    }
}

@media (max-width: 428px) and (min-width: 375px) {
    .first_text_block {
        flex-direction: column;
        align-items: start;
        padding: 9rem 1rem 0rem 1rem;
    }

    .first_text_block h1 {
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

    .first_text_block p {
        text-align: start;
        font-size: 1.2rem;
    }

    .paragraph_text_block p:nth-child(2) {
        display: none;
    }

    .paragraph_text_block h2 {
        font-size: 1.3rem;
        text-align: start;
        margin-top: 1rem;
        line-height: 2rem;
    }

    .paragraph_text_block {
        margin-left: 0rem;
    }
    
    .home_second_btn button {
        width: 10rem;
        height: 3.4rem;
    }

    .home_block_links {
        margin-top: 2rem;
        align-self: center;
        margin-left: 0rem;
    }

    .second_container {
       flex-direction: column-reverse;
       align-items: start;
    }

    .second_home_block {
        padding: 1rem 1rem 0rem 1rem;
    }

    .second_text_block h1 {
        line-height: 2.8rem;
        font-size: 2.4rem;
    }

    .second_text_block p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .second_container_img img {
        max-width: 22rem;
        left: 0rem;
    }

    .second_container i {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .title_container {
        font-size: 1.3rem;
        padding: 2rem 1rem 3rem 1rem;
    }

    .acessibility_container {
        font-size: 1rem;
        margin-top: 1rem;  
    }

    .acessibility_container:nth-child(2) {
        margin-top: 2rem;  
    }
    
    .list_box {
        flex-direction: column;
    }

    .list_box_one {
        display: flex;
        flex-direction: column;
    }

    .item_list {
        margin-bottom: 1.6rem;
    }

    .container_box {
        padding: 0rem 0rem 2rem 0rem;
    }

    .item_box {
        max-width: 300px;
        max-height: 360px;
        margin-top: 1.6rem;
    }

    .title_fifth_container {
        font-size: 1.3rem;
        text-align: start;
        padding: 0 1rem;
    }

    .fifth_container {
        padding: 0rem;
    }

    .container_imgft img {
        max-width: 22rem;
        margin-top: 1rem;
    }

    .fifth_block {
        flex-direction: column;
        margin-top: 1rem;
        text-align: start;
    }

    .fifth_text_block {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .fifth_text_block:nth-child(3) {
        text-align: start;
        margin-top: 0.5rem;
    }

    .fifth_container button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .signature_content_container {
        text-align: start;
        font-size: 1.3rem;
        margin-top: 1rem;
        padding: 0rem 1rem 0rem 1rem;
    }
    
    .container_benefits .benefits_content label h1 {
        font-size: 1.4rem;
    }

    .container_benefits {
        padding: 0rem 1rem;
    }

    .sixth_text {
        font-size: 1.3rem;
        text-align: start;
        padding: 3rem 1rem 3rem 1rem;
    }

}