.title_stretches {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(150deg,#e4c653 ,#fff  36%);
    padding: 8rem;
}

.title_stretches h1 {
    color: #e4c653;
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    max-width: 60rem;
}

.firstblock_is {
    display: flex;
    background-image: linear-gradient(12deg,#e4c653 , #fff 26%);
    padding: 5rem 0rem 0rem 6rem;
}

.text_containeris {
    color: #e4c653;
    font-family: 'Montserrat';
    padding: 3rem 4rem 0rem 4rem;

}

.text_containeris h1 {
    font-size: 42px;
}

.text_containeris p {
    margin-top: 2rem;
    font-size: 22px;
    line-height: 2.3rem;
}

.secondcontainer_is {
    background-color: #e4c653;
    padding: 3rem;
}

.block_title h1 {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
}

.box_questions {
    display: flex;
    justify-content: center;
}

.questions {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 1rem 2rem;
    gap: 3rem;
}

.questions .item_questions {
    position: relative;
    background: linear-gradient(349.78deg, #f5e76e -17.21%, #e4c653 116.61%);
    padding: 0rem 3rem 2rem 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.item_questions {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 32px;
}


.item_questions input {
    appearance: none;
}

.questions .item_questions label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.questions .item_questions label::after {
    content: '+';
    position: absolute;
    font-size: 3rem;
    right: 20px;
    top: 3px;
    color: rgba(0,0,0,0.2);
    transition: transform 1s;
}

.questions .item_questions:hover label::after {
    color: #e4c653;
}

.questions .item_questions input:checked ~ label::after {
    transform: rotate(135deg);
    
}

.questions .item_questions label h2 {
    width: 50px;
    height: 50px;
    background: linear-gradient(349.78deg, #e4c653 -17.21%, #f0e68b 116.61%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.05em;
    border-radius: 10px;
    margin-right: 15px;
}

.questions .item_questions .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.questions .item_questions input:checked ~ .content {
    max-height: 100vh;

}

.questions .item_questions .content p {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.8rem;
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
    z-index: 10;
    margin-top: 0.8rem;
    
}

.third_containeris {
    background-image: linear-gradient(to bottom, #e4c653, #fff 46%);
    padding: 6rem;
}

.title_thirdcontainer {
    display: flex;
    justify-content: center;
    padding: 3rem;

}

.title_thirdcontainer h1 {
    font-family: 'Montserrat';
    color: #e4c653;
    font-size: 44px;
    text-align: center;
}

.footeris {
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.footeris h1 {
    color: #e4c653;
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    max-width: 80rem

}

.curly_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 6rem;
    padding: 5rem 0rem 0rem 8rem;
    justify-content: center;

}

.block_curly h1 {
    color: #e4c653;
    font-size: 42px;
    font-family: 'Montserrat';
}

.block_curly p {
    color: #e4c653;
    font-size: 22px;
    font-family: 'Montserrat';
    line-height: 2.3rem;
    margin-top: 2rem;
}

.block_curly img {
    position: relative;
    left: 10rem;
    top: 4rem;
    max-width: 300px;

}
.curly_container img {
    display: flex;
}

.logoinvisibleslim {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem 3rem 2rem;
    background-color: #e4c653;
}

.titledreams_container {
    display: flex;
    justify-content: center;
    color: #e4c653;
    font-family: 'Montserrat';
    padding: 8rem;
    background-image: linear-gradient(190deg,#e4c653 ,#fff  26%);
}

.titledreams_container h1 {
    font-size: 48px;
}

.dreams_container {
    display: flex;
    padding: 0rem 2rem 0rem 6rem;
    align-items: center;
    gap: 6rem;
}

.block_dreams h1 {
    color: #e4c653;
    font-size: 42px;
    font-family: 'Montserrat';
}

.block_dreams p {
    color: #e4c653;
    font-size: 22px;
    font-family: 'Montserrat';
    line-height: 2.3rem;
    margin-top: 2rem;

}

.block_dreams {
    padding: 0rem 6rem 0rem 0rem;
}

.dreams_container img {
    width: 400px;
    border-radius: 20px;
}

.dreams_result {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 16rem;
    padding: 6rem 0rem 2rem 6rem;
    justify-content: center;
    align-items: center;
}

.dreamsresult_block h1 {
    color: #e4c653;
    font-size: 42px;
    font-family: 'Montserrat';
}

.dreamsresult_block p {
    color: #e4c653;
    font-size: 22px;
    font-family: 'Montserrat';
    line-height: 2.3rem;
    margin-top: 2rem;
}

.dreams_result img {
    width: 500px;
    border-radius: 20px;
}

@media (max-width: 768px)  {
    .title_stretches h1{
        font-size: 44px;
        padding: 0;
    }

    .firstblock_is {
        padding: 0;
        text-align: center;
        flex-direction: column-reverse;
    }

    .firstblock_is img {
        padding: 3rem 0rem 0rem 6rem;
        max-width: 400px;
    }

    .item_questions {
        font-size: 120%;
    }

    .questions .item_questions label h2 {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.05em;
        margin-right: 10px;
    }

    .curly_container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 1rem 3rem 0rem 3rem;
    
    }

    .block_curly h1 {
        font-size: 38px;
    }

    .block_curly p {
        font-size: 130%;
    }

    .block_curly img {
        max-width: 45%;
        position: relative;
        left: 8.8rem;
        top: 3rem;
    }

    .curlyimg img {
        max-width: 400px;
        padding: 0rem 0rem 0rem 3rem;
    }


    .dreams_container {
        display: flex;
        flex-direction: column-reverse;
        padding: 0rem 0rem 0rem 6.2rem;
        gap: 4rem;
        text-align: center;
    }

    .dreams_container img {
        max-width: 400px;
        position: relative;
        right: 3rem;
    } 

    .dreams_result {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 5rem 5rem 0rem 5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footeris h1 {
        font-size: 46px;
    }

    
}








