.firstcontainer_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(150deg,#cda582 ,#fff  36%);
    padding: 6rem 9rem 6rem 9rem;
}

.title_container_products {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #cda582;
    font-family: 'arboria';
    font-size: 1.5rem;
    text-align: center;
}

.title_container_products h1 {
    font-weight: 500;
}

.title_container_products p {
    margin-top: 2rem;
    font-weight: 300;
}

.logo_container_products {
    display: flex;
    justify-content: center;
}

.logo_container_products img {
    width: 16rem;
}

.productlayout {
    display: flex;
    gap: 8rem;
    align-items: center;
    background-image: linear-gradient(-12deg,#eedca3 ,#fff 36%);
    padding: 0rem 6rem 0rem 6rem;
}

.text_blockproducts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'arboria';
    color: #eedca3;
    font-size: 1.5rem;
}

.text_blockproducts h1 {
    font-weight: 500;
}

.text_blockproducts p {
    font-weight: 300;
}

.button_product button {
    background: linear-gradient(349.78deg, #f1df95 -17.21%, #eedca3 116.61%);
    color: #fff;
    width: 11rem;
    height: 3.4rem;
    border: none;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 300;
}

.product_img img {
    width: 30rem;
}

.product_img {
    display: flex;
    justify-content:center;
}

.productlayout_second {
    display: flex;
    gap: 8rem;
    align-items: center;
    background-image: linear-gradient(12deg,#eedca3 ,#fff 36%);
    padding: 8rem 6rem 0rem 6rem;
}

.text_blockproducts_second {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'arboria';
    color: #eedca3;
    font-size: 1.5rem;
}

.text_blockproducts_second h1 {
    font-weight: 500;
}

.text_blockproducts_second p {
    font-weight: 300;
}

.button_product_second button {
    background: linear-gradient(349.78deg, #f1df95 -17.21%, #eedca3  116.61%);
    color: #fff;
    width: 11rem;
    height: 3.4rem;
    border: none;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 300;
}


.product2_img {
    display: flex;
    justify-content: center;
}

.product2_img img {
    width: 30rem;
}

.productlayout_third {
    display: flex;
    gap: 5rem;
    align-items: center;
    background-image: linear-gradient(-12deg,#eedca3  ,#fff 36%);
    padding: 8rem 6rem 0rem 6rem;
}

.text_blockproducts_third {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'arboria';
    color: #eedca3 ;
    font-size: 1.5rem;
}

.text_blockproducts_third h1 {
    font-weight: 500;
}

.text_blockproducts_third p {
    font-weight: 300;
}

.button_product_third button {
    background: linear-gradient(349.78deg, #f1df95 -17.21%, #eedca3  116.61%);
    color: #fff;
    width: 11rem;
    height: 3.4rem;
    border: none;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 300;
}

.product3_img {
    display: flex;
    justify-content: center;
}

.product3_img img {
    width: 36rem;
}

.productlayout_fifth {
    display: flex;
    gap: 8rem;
    align-items: center;
    background-image: linear-gradient(12deg,#eedca3 ,#fff 36%);
    padding: 8rem 6rem 0rem 6rem;
}

.text_blockproducts_fifth {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'arboria';
    color: #eedca3 ;
    font-size: 1.5rem;
}

.text_blockproducts_fifth h1 {
    font-weight: 500;
}

.text_blockproducts_fifth p {
    font-weight: 300;
}

.product5_img {
    display: flex;
    justify-content: center;
}

.product5_img img {
    width: 36rem;
}

.button_product_fifth button {
    background: linear-gradient(349.78deg, #f1df95 -17.21%, #eedca3 116.61%);
    color: #fff;
    width: 15rem;
    height: 3.4rem;
    border: none;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 300;
}

.title_sectionformen {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'arboria';
    font-size: 1.5rem;
    padding: 6rem 6rem 0rem 6rem;
    color: #302525;
    background-image: linear-gradient(186deg,#302525 ,#fff  19%);
}

.title_sectionformen h1 {
    font-weight: 500;
}

.productlayout_fourth {
    display: flex;
    gap: 6rem;
    align-items: center;
    background-image: linear-gradient(-12deg,#302525 ,#fff  36%);
    padding: 6rem 6rem 0rem 6rem;
}

.text_blockproducts_fourth {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'arboria';
    color: #302525;
    font-size: 1.5rem;
}

.text_blockproducts_fourth h1 {
    font-weight: 500;
}

.text_blockproducts_fourth p {
    font-weight: 300;
}

.button_product_fourth button {
    background: linear-gradient(349.78deg, #302525 -17.21%, #211519 116.61%);
    color: #fff;
    width: 14rem;
    height: 3.4rem;
    border: none;
    font-family: 'arboria';
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 300;
}

.product4_img {
    display: flex;
    justify-content: center;
}

.product4_img img {
    width: 700px;
}

.productlayout_eight {
    display: flex;
    gap: 6rem;
    align-items: center;
    background-image: linear-gradient(193deg,#302525 ,#fff  36%);
    padding: 13rem 6rem 6rem 6rem;
}

.text_blockproducts_eight {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'arboria';
    color: #302525;
    font-size: 1.5rem;
}

.text_blockproducts_eight h1 {
    font-weight: 500;
}

.text_blockproducts_eight p {
    font-weight: 300;
}

.product8_img img {
    max-width: 43rem;
}

.logo_container_productsformen {
    display: flex;
    justify-content: center;
    padding:6rem 0rem 0rem 0rem;

}

.logo_container_productsformen img {
    width: 16rem;
}

.product6_img img {
    max-width: 30rem;
}

.product7_img img {
    max-width: 25rem;
}

@media (max-width: 1376px) {
    .productlayout_fourth {
        display: flex;
        gap: 3rem;
        align-items: center;
        background-image: linear-gradient(-12deg,#302525 ,#fff  36%);
        padding: 6rem 4rem 0rem 4rem;
    }

    .productlayout_eight {
        gap: 3rem;
        padding: 8rem 4rem 4rem 4rem;
    } 
}

@media (max-width: 1240px) {
    .productlayout_fifth {
        gap: 3rem;
        padding: 8rem 4rem 0rem 4rem;
    }

    .productlayout_fourth {
        gap: 2rem;
        padding: 6rem 3rem 0rem 3rem;
    }

    .productlayout_eight {
        gap: 1rem;
        padding: 6rem 3rem 3rem 3rem;
    } 
    
}

@media (max-width: 1024px) {
    .title_container_products{
        font-size: 1.3rem;
    }

    .productlayout {
        gap: 2rem;
        padding: 0rem 2rem 0rem 3rem;
    }

    .text_blockproducts {
        font-size: 1.3rem;
    }

    .productlayout_second {
        gap: 2rem;
        padding: 8rem 2rem 0rem 2rem;
    }

    .text_blockproducts_second {
        font-size: 1.3rem;
    }

    .productlayout_third {
        gap: 2rem;
        padding: 8rem 2rem 0rem 2rem;
    }
    
    .text_blockproducts_third {
        font-size: 1.3rem;
    }

    .productlayout_fifth {
        gap: 2rem;
        padding: 8rem 2rem 0rem 1rem;
    }
    
    .text_blockproducts_fifth {
        font-size: 1.3rem;
    }

    .productlayout_fourth {
        gap: 2rem;
        padding: 6rem 2rem 0rem 1rem;
    }
    
    .text_blockproducts_fourth {
        font-size: 1.3rem;
    }

    .product4_img img {
        width: 36rem;
    }

    .productlayout_eight {
        gap: 2rem;
        padding: 8rem 3rem 6rem 3rem;
    }
    
    .text_blockproducts_eight {
        font-size: 1.3rem;
    }

    .product8_img img {
        max-width: 34rem;
    }
    
}

@media (max-width: 428px) {
    .firstcontainer_products {
        padding: 5rem 1rem 4rem 1rem;
        font-size: 1.2rem;
    }

    .productlayout {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding: 0rem;
    }

    .text_blockproducts {
        padding: 4rem 1rem 0rem 1rem;
        font-size: 1.2rem;
    }

    .product_img img {
        width: 360px;
    }

    .productlayout_second {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 6rem 0rem 0rem 0rem;
    }
    
    .text_blockproducts_second {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 1.2rem;
    }

    .product2_img img {
        width: 380px;
    }

    .productlayout_third {
        display: flex;
        flex-direction: column;
        padding: 6rem 0rem 0rem 0rem;
        gap: 0rem;
    }

    .text_blockproducts_third {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 1.2rem;
    }

    .product3_img img {
        width: 400px;
    }

    .productlayout_fifth {
        display: flex;
        flex-direction: column-reverse;
        padding: 6rem 0rem 2rem 0rem;
        text-align: center;
        gap: 2rem; 
    }

    .text_blockproducts_fifth {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 1.2rem;
    }

    .productlayout_fourth {
        display: flex;
        flex-direction: column-reverse;
        gap:6rem;
        padding: 5rem 0rem 0rem 0rem;
    }

    .text_blockproducts_fourth {
        padding: 0rem 1rem 0rem 1rem;
    }

    .product4_img img {
        width: 400px;
    }

    .text_blockproducts_fifth {
        padding: 0rem 1rem 0rem 1rem;
        text-align:left;
    }

    .product5_img img {
        width: 360px;
    }

    .product7_img img {
        width: 330px;
    }

    .product8_img img {
        width: 380px;
        margin-top: 3rem;
    }

    .title_sectionformen {
        font-size: 1.2rem;
        padding: 6rem 0rem 0rem 0rem;
    }

    .text_blockproducts_fourth {
        font-size: 1.2rem;
    }

    .productlayout_eight {
        flex-direction: column;
        gap: 0rem;
        padding: 6rem 1rem 3rem 1rem;
    }

    .text_blockproducts_eight {
        font-size: 1.2rem;
    }
}

@media (max-width: 375px) {
    .logo_container_products img {
        width: 16rem;
    }

    .product_img img {
        width: 21rem;
        height: 31rem;
    }

    .product2_img img {
        width: 21rem;
        height: 27rem;
    }

    .product3_img img {
        width: 21rem;
        height: 27rem;
    }

    .product4_img img {
        width: 21rem;
        height: 21rem;
    }

    .product5_img img {
        width: 21rem;
        height: 27rem;
    }

    .product6_img img {
        width: 21rem;
        height: 29rem;
        margin-top: 2rem;
    }

    .product7_img img {
        width: 21rem;
        height: 37rem;
    }

    .product8_img img {
        width: 21rem;
        height: 11rem;
    }

    .logo_container_productsformen img {
        width: 16rem;
    }

    button {
        margin-top: 2rem;
    }
}